// COLORS
$primary-color: #a8ba9a;
$secondary-color: #a8ba9a;
$tertiary-color: #b399a2;

$white-color: #fff;

$dark-grey: #2a2b2e;

$dark-blue-text: #2a2b2e; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
